.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarTitle {
  margin: 20px 0;
}

.sidebarFriendList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
}

.sidebarFriend:hover {
  background-color: #e0e0e0;
  border-radius: 12px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
